

<div class="jumbotron">
<div class="container">
  <h1 class="display-3">Projects Portfolio</h1>
  <p>My name is Fischer Kirwan. This is my project portfolio website. You can sign in or sign up to create, edit, or delete projects. Enjoy!</p>
</div>
</div>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="row">
      <% @projects.each do |project| %>
  
          <div class="col-md-4">
            <h2><%= project.title %></h2>
            <p><%= project.description %></p>
            <div class="btn btn-secondary">
            <%= link_to 'Show', project %>
            </div>
          </div>

          

      <% end %>
    </div>
  </tbody>
</table>

<br>

<p id="notice"><%= notice %></p>

<% if current_user %>
  <div class="btn btn-primary">
    <%= link_to 'New Project', new_project_path, :class => "btn" %>
  </div>
<% end %>